{% extends 'base.html'%}

{%block conteudo%}
 <h1 class="mt-5">{{usuario.nome}}</h1>
        <dl>
          <dt>ID</dt>
          <dd>{{usuario.id}}</dd>

          <dt>Sobrenome</dt>
          <dd>{{usuario.sobrenome}}</dd>

           <dt>Usuario</dt>
          <dd>{{usuario.usuario}}</dd>

          <dt>E-mail</dt>
          <dd>{{usuario.email}}</dd>
        </dl>
          <button type="button" class="btn btn-warning">Editar</button>
          <button type="button" class="btn btn-danger">Deletar</button>
{% endblock%}